name: Build and deploy Node.js project to Azure Function App - wherebaro-function-app

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 22.x

      - run: |
          npm ci
          npm run build --if-present

      - uses: Azure/functions-action@v1
        with:
          app-name: wherebaro-function-app
          slot-name: Production
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_C176C977065E4DE5B174105C67537BEA }}

          slot-name: 'Production'
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}

          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_C176C977065E4DE5B174105C67537BEA }}
